:root {
    --dark-gray: #222831;
    --medium-gray: #393E46;
    --light-gray: #EEEEEE;
    --accent-color: #E84545;
}

.text-dark-gray {
    color: var(--dark-gray);
}
.bg-dark-gray {
    background-color: var(--dark-gray);
}
.text-medium-gray {
    color: var(--medium-gray);
}
.bg-medium-gray {
    background-color: var(--medium-gray);
}
.text-light-gray {
    color: var(--light-gray);
}
.bg-light-gray {
    background-color: var(--light-gray);
}
.text-accent-color {
    color: var(--accent-color);
}
.bg-accent-color {
    color: var(--accent-color);
}