@import "base/reset.css";
@import "base/colors.css";
@import "base/typography.css";
@import "base/headings.css";
@import "components/sections.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.hero {
    background-color: var(--bg-primary);
}

.text {
    font-weight: 500;
    font-size: var(--text-body);
    text-align: center;
    width: 50%;
}

.projects {
    background-color: var(--bg-secondary);
}

.skills {
    background-color: var(--bg-primary);
}

.about {
    background-color: var(--bg-secondary);
}

.experience {
    background-color: var(--bg-primary);
}

.education {
    background-color: var(--bg-secondary);
}

.contact {
    background-color: var(--bg-primary);
}