nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 999;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

nav span {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    padding: .5rem 1.5rem;
    transition: 300ms all;
    border-bottom: .125rem solid transparent;
}

nav ul li:hover {
    border-bottom: .125rem solid var(--accent-color);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav ul li:hover > a {
    color: var(--accent-color);
}